---
// src/components/Header.astro
---
<header class="bg-sky-950 text-white">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <h1 class="text-2xl font-bold">My Portfolio</h1>
      <nav>
        <ul class="flex gap-6">
          <a href="#home" class="hover:text-sky-400 font-bold">Home</a>
          <a href="#about" class="hover:text-sky-400 font-bold">About</a>
          <a href="#projects" class="hover:text-sky-400 font-bold">Projects</a>
          <a href="#contact" class="hover:text-sky-400 font-bold">Contact</a>
        </ul>
      </nav>
    </div>
  </header>
  